<%= @question.question %>
<br />Score: <%= div_for @question do %><%= @question.qscore %> <% end %> - <%= link_to "+", qscore_path(@question), remote: true %> | <%= link_to "-", qscore_path(@question), remote: true %>
<br />
<%= @question.description %>
<br />
By: <%= @question.user.username %>
<br />Tags: <%= @question.tag_list %>
<hr />
<p>
  <%# if @question.automated? %>
  <h2>Automated Answer</h2>
  <%# end %>
  <b>Answers Below</b>
  <div id="answer_list">
  <% @answers.each do |ans| %>
    <p>
      <%= ans.answer %>
      <br />
      Score: <%= div_for ans do %><%= ans.score %> <% end %> - <%= link_to "+", score_path(ans.id), remote: true %> | <%= link_to "-", score_path(ans.id), remote: true %>
      <br />
      By: <%= ans.user.username %>
    </p>
    <hr />
  <% end %>
</div><!--end answer_list-->
  <a href="#" id="answer_the_question">Answer</a>
  <div id="answer_form">
  <%= simple_form_for [@question, @answer], remote: true do |f| %>
    <%= f.input :answer %>
    <%= f.submit %>
  <% end %>
</div>
</p>