<!DOCTYPE html>
<html>
<head>
  <title>Musiqa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/messages' %>
	<div class="row-fluid">
    <div class="span10 offset1" id="content-container">
<%= yield %>
		</div>
	</div>
<%= render 'layouts/footer' %>
</body>
</html>
